<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ptrvt_blog_post_listing_data_source" xsi:type="string">
                    PTRVT\Blog\Model\ResourceModel\Post\Collection
                </item>
                <item name="ptrvt_blog_comment_listing_data_source" xsi:type="string">
                    PTRVT\Blog\Model\ResourceModel\Comment\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="PTRVT\Blog\Api\CommentRepositoryInterface" type="PTRVT\Blog\Model\CommentRepository"/>
    <preference for="PTRVT\Blog\Api\PostRepositoryInterface" type="PTRVT\Blog\Model\PostRepository"/>

    <!-- Inyección explícita para resolver de Posts -->
    <type name="PTRVT\Blog\Model\Resolver\Posts">
        <arguments>
            <argument name="postCollectionFactory" xsi:type="object">PTRVT\Blog\Model\ResourceModel\Post\CollectionFactory</argument>
            <argument name="commentCollectionFactory" xsi:type="object">PTRVT\Blog\Model\ResourceModel\Comment\CollectionFactory</argument>
        </arguments>
    </type>

    <!-- Y lo mismo para resolver de un Post -->
    <type name="PTRVT\Blog\Model\Resolver\Post">
        <arguments>
            <argument name="postCollectionFactory" xsi:type="object">PTRVT\Blog\Model\ResourceModel\Post\CollectionFactory</argument>
            <argument name="commentCollectionFactory" xsi:type="object">PTRVT\Blog\Model\ResourceModel\Comment\CollectionFactory</argument>
        </arguments>
    </type>
</config>
